<div class="container">
  <section class="form-wrapper">
    <%= link_to "← 一覧に戻る", :posts, class:"link" %>
    <div class="contents-title">
      <h3><%= @post.title %></h3>
      <p><%= link_to "編集", edit_post_path, class: "btn" %></p>
    </div>

    <table class="show-table">
      <tr>
        <th>開始日</th>
        <td><%= @post.start_date.to_s(:date) %></td>
      </tr>
      <tr>
        <th>終了日</th>
        <td><%= @post.end_date.to_s(:date) %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td><%= @post.all_day ? "◯" : "" %></td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.memo %></td>
      </tr>
    </table>
  </section>
</div>

